<p class="c_section-sub-title">
  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
    <path d="M10 5.13185C8.60041 4.0568 5.07099 0.10142 5 0C4.94929 0.10142 1.63286 3.7931 0 5.13185C1.53144 6.37931 4.70588 9.8783 5 10.5375C5.29412 9.8783 8.4787 6.30832 10 5.13185Z" fill="#A38B51"/>
  </svg>
  {{ sub_title }}
</p>
<h2 class="c_section-title">{{ title }}</h2>
