.announcement-bar__message {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.56px;
    min-height: initial;
}

@media screen and (max-width: 750px) {
    .announcement-bar__message {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}