.c_parallax-section {
  /* ヘッダーの高さを差し引いた点で中の画像だけstickyにする。 */
  position: sticky;
  /* position: fixed; */
  top: calc(var(--header-height, 0px));
  z-index: -1;
}

.c_parallax__image {
  /* 画像の幅を別のclassで強制指定 */
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-height, 0px));
}

.c_parallax-overlay {
  /* 一応基準にはなるけど、幅も高さも持たないので消える */
  position: relative;
  z-index: 1;
}

.c_parallax-overlay__image {
  /* ここで通常の配置フローから消えて、親要素も消えてるから、下の画像が上に詰まる。 */
  /* inset:0で、画面幅一杯に広がるのは、c_parallax__imageで画像の幅と高さを指定しているから。 */
  position: absolute;
  inset: 0;
}



.c_parallax__wrapper {
  position: relative;
}

.c_parallax__image .c_image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c_parallax__decoration {
  position: relative;
  z-index: 1;
}

.c_parallax__decoration__inner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.c_parallax__decoration-image {
  max-width: 230px;
  aspect-ratio: 1;
}

@media screen and (max-width: 750px) {
  .c_parallax__decoration-image {
    max-width: 180px;
  }
}

.c_parallax__decoration-image .c_image {
  position: static;
  width: auto;
  height: auto;
  max-width: 100%;
}

.c_parallax__decoration-text {
  color: #fffbf7;
  text-align: center;
  font-family: var(--font-bodoniModa-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-top: 24px;
}

@media screen and (max-width: 750px) {
  .c_parallax__decoration-text {
    font-size: 26px;
    margin-top: 16px;
  }
}