:root {
  --font-dmSans-family: "DM Sans", sans-serif;
  --font-bodoniModa-family: "Bodoni Moda", serif;
}

.c_image {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}


.is-pc {
  display: block !important;
}

.is-sp {
  display: none !important;
}

@media screen and (max-width: 750px) {
  .is-pc {
    display: none !important;
  }

  .is-sp {
    display: block !important;
  }
}


/* ============================================
    セクションタイトル
 ============================================*/
.c_section-head {
  margin-bottom: 40px;

}

.c_section-sub-title {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #4C4227;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

@media screen and (max-width: 750px) {
  .c_section-sub-title {
    font-size: 14px;
  }
}

.c_section-title {
  margin: 0;
  color: #282315;
  font-family: var(--font-bodoniModa-family);
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

@media screen and (max-width: 750px) {
  .c_section-title {
    font-size: 32px;
  }
}