.c_featured-collection .splide__arrows {
    display: flex;
    justify-content: flex-end;
    gap: 56px;
}

@media screen and (max-width: 750px) {
    .c_featured-collection .splide__arrows {
        gap: 38px;
    }
}

.c_featured-collection .splide__arrow {
    position: static;
    transform: none;
    margin-top: 32px;
}

@media screen and (max-width: 750px) {
    .c_featured-collection .splide__arrow {
        margin-top: 39px;
    }
}

.splide__arrow svg {
    fill: #FFFBF7;
    stroke-width: 0.6px;
    stroke: #A38B51;
    filter: drop-shadow(0 0 10px rgba(163, 139, 81, 0.20));
    height: 42px;
    width: 42px;
}

@media screen and (max-width: 750px) {
    .splide__arrow svg {
        height: 36px;
        width: 36px;
    }
}

/* .splide__arrow svg path {
    display: none;
} */

.splide__arrow {
    background: #FFFBF7;
    height: auto;
    opacity: 1;
    width: auto;
}