.c_featured-collection .splide__arrows {
    display: flex;
    justify-content: flex-end;
    gap: 56px;
}

@media screen and (max-width: 750px) {
    .c_featured-collection .splide__arrows {
        gap: 38px;
    }
}

.c_featured-collection .splide__arrow {
    position: static;
    transform: none;
    margin-top: 32px;
}

@media screen and (max-width: 750px) {
    .c_featured-collection .splide__arrow {
        margin-top: 39px;
    }
}

.splide__arrow svg {
    fill: initial;
    height: auto;
    width: auto;
    /* background: #A38B51; */
}

/* .splide__arrow svg path {
    display: none;
} */

.splide__arrow {
    background: #FFFBF7;
    height: auto;
    opacity: 1;
    width: auto;
}